@use 'variables' as v;

@mixin telefono { // mediaqueries de 480px 
    @media (min-width: v.$telefono ) {
        @content;
    }
}

@mixin tablet { // mediaqueries de 768px 
    @media (min-width: v.$tablet ) {
        @content;
    }
}

@mixin desktop { // mediaqueries de 1200px 
    @media (min-width: v.$desktop ) {
        @content;
    }
}

@mixin desktopxl { // mediaqueries de 480px 
    @media (min-width: v.$desktopxl ) {
        @content;
    }
}

@mixin contenedor{ 
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin grid($columnas: 1, $gap : 5rem) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin resetear-lista {
    margin: 0;
    padding: 0;
    list-style: none;
}
